.container {
    display: flex;
    height: 500px;
    padding: 50px 0px 100px 50px;
}

.main {
   
    width: 40%;
}

.sub-main {
    width: 300px;
    border: 1px solid rgba(0, 0, 0, 0.363);
    img{

    }

    text-align: center;
}
.aside {
    width: 60%;
    text-align: center;
}
.btn{
    background-color: rgb(185, 72, 110);
    border: none;
    width: 200px;
    border-radius: 5px;
    margin-top: 50px;
    margin-bottom: 20px;
    height: 30px;
}